<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../static/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
        <script src="http://d3js.org/d3.v5.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="http://d3js.org/queue.v1.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="../d3-tip.js"></script>
        <script src="../Javascript/data.js"></script>
        <title>CO2 emmissions</title>
    </head>
    <body>
        <div class="topnav">
            <a class="navbar-brand" href="https://12389285.github.io/DataProcessing/">Github</a>
            <a class="navbar-brand" href="../index.html">Home</a>
            <a class="navbar-brand" href="data.html">Data</a>
        </div>
        <div>
          <p><font size="6"><b>CO2 Emmission per country</b></font><br><br>
          In the world map below you can see the CO2 emmission per country. You can swith between 2012-2014<br><br><br>
          <b>Author:</b> Max Simons<br>
          <b>Studentnumber:</b> 12389285
          </p>
        </div>
    </body>
</html>
