<!DOCTYPE html>

<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

  <link href="../static/styles.css" rel="stylesheet"/>

  <title>Data</title>
  </head>
  <body>
    <div class="topnav">
      <a class="navbar-brand" href="/">Week 3</a>
      <a class="navbar-brand" href="index.html">Overzicht</a>
      <a class="navbar-brand" href="resultaten.html">Resultaten</a>
      <a class="navbar-brand" href="2015.html">2015</a>
      <a class="navbar-brand" href="2016.html">2016</a>
      <a class="navbar-brand" href="2017.html">2017</a>
      <a class="navbar-brand" href="2018.html">2018</a>
      <a class="navbar-brand" href="data.html">Data</a>
    </div>

    <div class="container-fluid">
      <h1>
        Data sites
      </h1>
      <p>
      <ul>
        <li>2015
          <a href="https://www.formula1.com/en/results.html/2015/drivers/MAXVER01/max-verstappen.html" target="_blank">
            Data</a>
        </li>
        <li>2016
          <a href="https://www.formula1.com/en/results.html/2016/drivers/MAXVER01/max-verstappen.html" target="_blank">
            Data</a>
        </li>
        <li>2017
          <a href="https://www.formula1.com/en/results.html/2017/drivers/MAXVER01/max-verstappen.html" target="_blank">
            Data</a>
        </li>
        <li>2018
          <a href="https://www.formula1.com/en/results.html/2018/drivers/MAXVER01/max-verstappen.html" target="_blank">
            Data</a>
        </li>
      </ul>
      </p>
    </div>
  </body>
</html>
