<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="../static/styles.css" rel="stylesheet"/>

        <title>Overzicht</title>
    </head>
    <body>

        <div class="topnav">
            <a class="navbar-brand" href="/">Week 3</a>
            <a class="navbar-brand" href="index.html">Overzicht</a>
            <a class="navbar-brand" href="resultaten.html">Resulaten</a>
            <a class="navbar-brand" href="2015.html">2015</a>
            <a class="navbar-brand" href="2016.html">2016</a>
            <a class="navbar-brand" href="2017.html">2017</a>
            <a class="navbar-brand" href="2018.html">2018</a>
            <a class="navbar-brand" href="data.html">Data</a>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="column">
              <p><font size="6"><b>Javascript</b></font><br><br>
              Voor de opdracht van week 3 is het idee dat er gewerkt wordt met Javascript.
              Allereerst was het de opdracht om data te verzamelen van het internet. Aangezien ik
              een groot fan ben van de formule 1 ben ik gaan kijken naar data van Max Verstappen.
              Op het internet heb ik veel data kunnen vinden. Om te beginnen heb ik het aantal punten die Max
              in zijn 4 jaren bij de formule 1 verdiend heeft. Bij de pagina Data zijn de websites te vinden waar ik de data
              vandaan heb. <br><br>
              Bij de pagina resultaten is een lijngrafiek te vinden waar alle data in verwerkt is. Max heeft tot nu toe 4 seizoenen
              geraced in de fomrule 1. In de grafiek in een duidelijk stijgende lijn zichtbaar tussen 2015 en 2018. Naast het totaal
              resultaat zijn de pagina's ook per jaar zichtbaar.<br><br>
              Onder de lijngrafieken zijn tabellen zichtbaar waar de landen van de desbetreffende grand prix genoemd worden.<br><br><br>
              <b>Gemaakt door:</b> Max Simons<br>
              <b>Studentnummer:</b> 12389285
              </p></div>
            <div class="column">
              <img src="../verstappen.jpg" alt="bull">
            </div>
          </div>
        </div>
    </body>
</html>
